@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: #2B283A;

}



.nav {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #F55A5A;
}

.nav--h1 {
  font-weight: 500;
  color: white;
}

.nav--img {
  height: 50px;
}

.card {
  /* border: 2px solid red; */
  display: flex;
  margin: 100px;
  min-width: auto;
 
}

/* .card--img {
  border: 20px solid green;
} */

.card--text {
  /* border: 20px solid yellow; */
  padding: 20px;
 
}

.card--img>img {
  height: 300px;
  width: 200px;
  border-radius: 10px;
}

.card--text--location {
  display: flex;
  align-items: center;
  gap: 25px;
}

.card--text--location>h3 {
  font-size: 15px;
  font-weight: 400;
}

.card--text--location>h3>img {
  height: 12px;
}

.card--text--location>a {
  color: #918E9B;

}

.card--text--h1 {
  line-height: 30px;
  margin-bottom: 25px;
  margin-top: 10px;
  font-size: 30px;
  font-weight: 700;
}

.card--text--date {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
}

.card--text--para {
  font-size: 15px;
  font-weight: 400;
  max-width: 800px;
  overflow: auto;
  max-height: 200px;
  min-height: 150px;
  
}